*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url(assets/BGimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (min-width:376px) and (max-width:873px){
    #container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #calculator{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 15px 15px white ;
        padding: 20px;
        border-radius: 25px;
    }

    #calculator input{
        margin-bottom: 20px;
        padding: 15px;
        width: 250px;
        border-radius: 15px;
        border: 0;
    }

    #NewUsd{
        width: 250px;
        padding: 7px;
        border-radius: 15px;
        color: #000;
        background-color: #fff;
        text-align: center;
        margin: 40px 0 ;
        font-size: 23px;
    }

    #Calculat{
        width: 250px;
        color: #000;
        text-align: center;   
        width: 180px;
        border-radius: 15px;
        margin-top: 120px;
        background-color: #fff;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    #NewPrice{
        width: 250px;
        color: #000;
        background-color: #fff;
        border-radius: 15px;
        padding: 7px;
        text-align: center;
        font-size: 23px;
        height: 40px;
    }

}

@media screen and (min-width:874px) and (max-width:1800px){
   #container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #calculator{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 15px 15px rgb(255, 255, 255) ;
        padding: 20px;
        border-radius: 25px;
        width: 600px;
    }

    #calculator input{
        margin-bottom: 20px;
        padding: 15px;
        width: 400px;
        border-radius: 15px;
        border: 0;
    }

    #NewUsd{
        width: 400px;
        padding: 7px;
        border-radius: 15px;
        color: #000;
        background-color: #fff;
        text-align: center;
        margin: 40px 0 ;
        font-size: 23px;
    }

    #Calculat{
        width: 400px;
        color: #000;
        text-align: center;   
        border-radius: 15px;
        margin-top: 120px;
        background-color: #fff;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    #NewPrice{
        width: 400px;
        color: #000;
        background-color: #fff;
        border-radius: 15px;
        padding: 7px;
        text-align: center;
        font-size: 23px;
        height: 40px;
    }
}

